<?xml version="1.0" encoding="ISO-8859-1"?>
<PREFERENCES>
  <SUPPORTJAR_TIMESTAMP>1075222061000</SUPPORTJAR_TIMESTAMP>
  <LAST_USER>true</LAST_USER>
  <EDITORJAR_TIMESTAMP>1158875022000</EDITORJAR_TIMESTAMP>
  <DONTSHOWCLOSE>true</DONTSHOWCLOSE>
  <USERNAME>dmandel@tolweb.org</USERNAME>
  <CUSTOM_CURSORS>true</CUSTOM_CURSORS>
  <PASSWORD>1efc6e2f45989fad966d3f449888cb27</PASSWORD>
</PREFERENCES>

